body {
  background-color:#00F6FF;
}

.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#header{
  padding: 5px;
}
